.current {
  color: white;
  display: inline;
  padding: 6em;
}
.current:hover {
  color: rgb(48, 128, 48);
}

body {
  background-image: linear-gradient(
    rgba(17, 85, 17, 0.863),
    rgba(117, 151, 117, 0.719)
  );
}

.navbar {
  background: rgb(221, 127, 4);
  padding: 0.5em;
  font-family: cursive;
}

ul.primary-nav {
  list-style-type: none;
}

ul.secondary-nav {
  list-style-type: none;
}

.site-map {
  text-align: center;
}

.past {
  color: rgb(48, 83, 48);
  display: inline;
  padding: 8em;
}

.past:hover {
  color: rgb(228, 222, 222);
}

.bottom {
  background: rgb(231, 162, 34);
  padding: 0.5em;
  font-family: cursive;
}

body {
  margin: auto;
  width: 80%;
}
